<?xml version="1.0"?>
<config>
    <adminhtml>
        <layout>
             <updates>
                  <categoryatribute>
                        <file>innoxcategoryatribute.xml</file>
                  </categoryatribute>
             </updates>
        </layout>
    </adminhtml>
	<frontend>
        <layout>
             <updates>
                  <categoryatribute>
                        <file>innoxcategory.xml</file>
                  </categoryatribute>
             </updates>
        </layout>
    </frontend>
    <modules>
        <Innox_CategoryAtribute>
            <version>0.1.9</version>
        </Innox_CategoryAtribute>
    </modules>
     <global>
		<helpers>
			<categoryatribute>
				<class>Innox_CategoryAtribute_Helper</class>
			</categoryatribute>
		</helpers>	 
	    <models>
            <categoryatribute>
                <class>Innox_CategoryAtribute_Model</class>
            </categoryatribute>
			<!--
			<catalog>
                <rewrite>
                    <product>Innox_CategoryAtribute_Model_Catalog_Category</product>
                </rewrite>
            </catalog> -->
        </models>
        <blocks>
            <categoryatribute>
                <class>Innox_CategoryAtribute_Block</class>
            </categoryatribute>
        </blocks>	 
        <resources>
            <add_category_attribute_setup>
                <setup>
                    <module>Innox_CategoryAtribute</module>
                    <class>Innox_CategoryAtribute_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </add_category_attribute_setup>
			<add_category_attribute_write>
				<connection>
					<use>core_write</use>
				</connection>
			</add_category_attribute_write>
			<add_category_attribute_read>
				<connection>
					<use>core_read</use>
				</connection>
			</add_category_attribute_read>
        </resources>
    </global>
</config>